<div style="" >
  <section class="section section-dark radius-top">
    <div class="row row-margin-top">
      <div class="flex-grid" id="horarios">
        <h2 class="col">
          Horário de funcionamento Natal e Réveillon 2022
        </h2>
        <div class="row-label-icon col">
          <img class="icon" src="/img/icons.svg#icon-bells" alt="icone de comunicados">
        </div>
      </div>
      <div class="card">
        <div class="flex-grid">
          <div class="col">
            <p>Carnaval 2023</p>
            <p>16/02(Quinta-feira) das 11:30 às 23:00</p>
            <p>17/02(Sexta-feira) das 11:30 às 23:00</p>
            <p>18/02(Sábado) das 11:30 às 23:00</p>
            <p>19/02(Domingo) das 11:30 às 23:00</p>
            <p>20/02(Segunda-feira) das 11:30 às 23:00</p>
            <p>21/02(Terça-feira) das 11:30 às 17:00</p>
            <p>22/02(Quarta-feira) fechado</p>
           </div>
        </div>
      </div>
    </div>
  </section>
</div>
